p.login-box {
    margin-top: 1rem;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
a.menu-link {
    min-width: 250px;
    max-width: 250px;
}