<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Spring Security Test</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/header :: heading}">Heading</div>
        <div th:replace="~{fragments/header :: nav}">Navbar</div>
    </header>
    <div class="wrapper">
        <div th:replace="~{fragments/header :: menu}">Menu</div>
        <div id="content" class="w-100">
            <div class="card">
                <div class="card-body">
                    Welcome to Spring Security Test application
                </div>
            </div>
        </div>
    </div>
</body>
</html>